.bg-dark {
  background-color: #343a40 !important;
}

.text-white {
  color: white !important;
}

.text-bold {
  font-weight: bold;
}
.custom-image {
  padding: 10px;
  width: calc(100% - 20px) !important;
  border-radius: 20px;
}

.custom-buttons button, .custom-buttons div{
    color: white;
    border-color: white;
}

.Shopping-card {
  position: fixed;
  right: 10px;
  top: 0px;
}